# =============================================================================
# Configuration file for: FrostnumberGeoMethod
# =============================================================================
# Input
config_filename          | {config_filename}                  | string  | name of this file
config_for_method        | {config_for_method}                | string  | Permafrost method being configured
config_description       | {config_description}               | string  | description of this configuration
run_description          | {run_description}                  | string  | description of this run 
calc_surface_frostnumber | {calc_surface_frostnumber}         | string  | whether to calculated surface FN
calc_stefan_frostnumber  | {calc_stefan_frostnumber}          | string  | whether to calculated Stefan FN
output_directory         | {output_directory}                 | string  | output directory, '.' for default
output_filename          | {output_filename}                  | string  | output filename
# -----------------------------------------------------------------------
# Select the method of computing degree freezing and thawing days
# Only MinJanMaxJul is implemented as of 4/21/2017
degree_days_method       | {degree_days_method}               | string  | Method used to generate DDF and DDT
#degree_days_method       | ObservedMinMax                     | string  | Method used to generate DDF and DDT
#degree_days_method       | MonthlyAverages                    | string  | Method used to generate DDF and DDT
#degree_days_method       | DailyValues                        | string  | Method used to generate DDF and DDT
# -----------------------------------------------------------------------
# Non-yaml configuration file allowed for information from files
# This configuration format will be used with WMT and will not include
# that option, so only default- and wmt-versions are provided
# -----------------------------------------------------------------------
# -----------------------------------------------------------------------
# Default (configuration fully specified in this file)
# -----------------------------------------------------------------------
input_var_source         | {input_var_source}                 | string | source of input variables: WMT or Default
grid_type                | {grid_type}                        | string | form of grid
grid_rows                | {grid_rows}                        | int    | number of rows in model grid (ydim)
grid_columns             | {grid_columns}                     | int    | number of columns in model grid (xdim)
# Dates are converted to datetime.date objects
model_reference_date     | {model_reference_date}             | string | model dates are relative to this date
model_start_date         | {model_start_date}                 | string | first date of model run
model_end_date           | {model_end_date}                   | string | last date of model run
# timestep is converted to datetime.timedelta object
model_timestep           | {model_timestep}                   | int    | model timestep (years)
# the input grids must be specified by hand
# Each line contains a complete field valid from the specified date until the next grid is given
# the first grid_date is the first valid model date
# the last grid_date is the last valid model date
n_temperature_grid_fields | {n_temperature_grid_fields}       | int    | number of full grids provided
temperature_grid_date_0   | {temperature_grid_date_0}         | string | date from which this slice is valid
temperature_grid_data_0   | {temperature_grid_data_0}         | string | the complete field starting at the above date
temperature_grid_date_1   | {temperature_grid_date_1}         | string | date from which this slice is valid
temperature_grid_data_1   | {temperature_grid_data_1}         | string | the complete field starting at the above date
temperature_grid_date_2   | {temperature_grid_date_2}         | string | date from which this slice is valid
temperature_grid_data_2   | {temperature_grid_data_2}         | string | the complete field starting at the above date
temperature_grid_date_3   | {temperature_grid_date_3}         | string | date from which this slice is valid
temperature_grid_data_3   | {temperature_grid_data_3}         | string | the complete field starting at the above date
temperature_grid_date_4   | {temperature_grid_date_4}         | string | date from which this slice is valid
temperature_grid_data_4   | {temperature_grid_data_4}         | string | the complete field starting at the above date
temperature_grid_date_5   | {temperature_grid_date_5}         | string | date from which this slice is valid
temperature_grid_data_5   | {temperature_grid_data_5}         | string | the complete field starting at the above date
temperature_grid_date_6   | {temperature_grid_date_6}         | string | date from which this slice is valid
temperature_grid_data_6   | {temperature_grid_data_6}         | string | the complete field starting at the above date
temperature_grid_date_7   | {temperature_grid_date_7}         | string | date from which this slice is valid
temperature_grid_data_7   | {temperature_grid_data_7}         | string | the complete field starting at the above date
temperature_grid_date_8   | {temperature_grid_date_8}         | string | date from which this slice is valid
temperature_grid_data_8   | {temperature_grid_data_8}         | string | the complete field starting at the above date
temperature_grid_date_9   | {temperature_grid_date_9}         | string | date from which this slice is valid
temperature_grid_data_9   | {temperature_grid_data_9}         | string | the complete field starting at the above date
temperature_grid_date_10  | {temperature_grid_date_10}         | string | date from which this slice is valid
temperature_grid_data_10  | {temperature_grid_data_10}         | string | the complete field starting at the above date
# Specify a precipitation grid for surface Frostnumber (Not yet implemented), or 0 for none
n_precipitation_grid_fields  | {n_precipitation_grid_fields}  | int    | number of full fields for precip, 0 if not used
# Specify a soilproperties grid for Stefan Frostnumber (Not yet implemented), or 0 for none
n_soilproperties_grid_fields | {n_soilproperties_grid_fields} | int    | number of full fields for precip, 0 if not used
# -----------------------------------------------------------------------
# -----------------------------------------------------------------------
## Input variables come from WMT
## Values between the above two double-lines (Default config)
## can be replaced with the values here for WMT
# -----------------------------------------------------------------------
# This is commented out because it can't be tested outside of WMT
## The values here are designed to work with the initial implementation of cruAKtemp
#input_var_source         | {input_var_source}                 | string | source of input variables: WMT or Default
#grid_type                | {grid_type}                        | string | form of grid
#grid_rows                | {grid_rows}                        | int    | number of rows in model grid (ydim)
#grid_columns             | {grid_columns}                     | int    | number of columns in model grid (xdim)
## Dates are converted to datetime.date objects
#model_reference_date     | {model_reference_date}             | string | model dates are relative to this date
#model_start_date         | {model_start_date}                 | string | first day of model run
#model_end_date           | {model_end_date}                   | string | last day of model run
## timestep is converted to datetime.timedelta object
#model_timestep           | {model_timestep}                   | int    | model timestep (days)
# -----------------------------------------------------------------------
# -----------------------------------------------------------------------
