#===============================================================================
# PermaModel Config File for: Ku_method
#===============================================================================
# Input
comp_status         | Enabled      | string    | component status {Enabled; Disabled}
permafrost_dir      | . | string | root permafrost code directory
in_directory        | permamodel/examples     | string    | input directory
out_directory       | .    | string    | output directory
site_prefix         | Barrow_      	| string    | file prefix for the study site
case_prefix         | case_test     | string    | file prefix for the model scenario
lat_type            | Scalar     	| string    | allowed input types {Scalar; Grid; Time_Series; 
lat           		| 71.3167       | float    | GIS coordinates
lon_type            | Scalar     	| string    | allowed input types {Scalar; Grid; Time_Series; 
lon           		| -156.5833      | float    | GIS coordinates
start_year          | 2009          | long     | begining of the simulation time [year]
end_year            | 2009          | long     | begining of the simulation time [year]
dt                  | 1.0        | float    | timestep for permafrost process [year]
T_air_type        	| Scalar     	| string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
T_air             	| -10.92        | float     | Mean annual air temperature [C]
A_air_type        	| Scalar     	| string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
A_air             	| 15.71        | float     | Mean annual amplitude of air temperature [C]
h_snow_type       	| Scalar    	| string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
h_snow            	| 0.21         | float     | depth of snow [m]
rho_snow_type       | Scalar    	| string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
rho_snow            | 200         | float     | density of snow [kg m-3]
vwc_H2O_type       	| Scalar    	| string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
vwc_H2O            	| 0.4         | float     | soil volumetric water content [m3 m-3]
Hvgf_type           | Scalar          | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Hvgf                | 0.02               | float     | Height of vegetation in frozen period [m]
Hvgt_type           | Scalar          | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Hvgt                | 0.03              | float     | Height of vegetation in thawed period [m]
Dvf_type        	| Scalar     | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Dvf             	| 1.39E-6          | float     | Thermal diffusivity of vegetation in frozen period [m2 s]
Dvt_type         	| Scalar      | string    | allowed input types {Scalar; Grid; Time_Series; Grid_Sequence}
Dvt              	| 5.56E-8           | float     | Thermal diffusivity of vegetation in thawed period[m2 s]
#===============================================================================
# Output 1
SAVE_ALT_GRIDS    | YES    | string    | option to save grids of snow depth {Yes; No}
ALT_file          | [site_prefix]ALT       | string    | filename for grid stack of snow depth [m]
# Output 2
SAVE_TPS_GRIDS    | YES    | string    | option to save grids of snow depth {Yes; No}
TPS_file          | [site_prefix]TPS       | string    | filename for grid stack of snow depth [m]